nltk
numpy
flask
spacy
pandas
kaggle
seaborn
librosa
colorama
langchain
streamlit
matplotlib
scikit-learn
python-dotenv
streamlit-lottie
spacy-transformers
sentence-transformers
langchain_experimental
-e .